
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    max-width: 80%;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header {
    display: flex;
    justify-content: flex-end;
}


h2 {
    font-size: 1.8rem;
    font-weight: bold;
}

.teamCard {
    width: 30vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 2px solid black;
    background-color: white;
    flex-direction: column;
    margin: 10px;
    flex-wrap: wrap;
}

.teamImage {
    margin-top: 10px;
    height: 25vh;
}

table {
    width: 60vw;
}

th {
    background-color: black;
    color: white;
    align-content: flex-start;

}

tr {
    background-color: lightblue;
}

.lastFive {
    display: flex;
    flex-direction: row;
}

.matchCard {
    width: 40vw;
    height: 10vh;
    background-color: rgb(203, 210, 211);
    color: #2F4858;
    border: 2px solid #2F4858;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 2px;
}

.matchCardTeamSection {
    display: flex;
    flex-direction: column;
}

p {
    padding: 0px;
    margin: 5px;
}

.playerCard {
    height: 20vh;
    width: 20vw;
    color: #16DB65;
    background-color: black;
    border: 2px solid #16DB65;
    margin: 5px;
}